<html>
    <head>
        <meta charset="utf-8"/>
        {% for style in styles %}
        <link type="text/css" rel="stylesheet" href="{{style}}" />
        {% endfor %}
    </head>

    <style>
        img {
            width: 200px;
        }
    </style>

    <body>
        {% for script in scripts %}
        <script src="{{script}}"></script>
        {% endfor %}

        <script type="text/javascript">
            $(document).ready(function() {
                $('#aniimated-thumbnials').lightGallery({
                    thumbnail:true
                });
            });
        </script>

        <div id="aniimated-thumbnials">
          {% for image in images %}
          <a href="{{image.path}}">
              <img src="{{image.thumbnail}}" />
          </a>
          {% endfor %}
        </div>
    </body>

</html>
